.vr-intro {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.vr-intro-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.video-container {
  position: relative;
  width: 100%;
  margin-top: 70px;
  height: calc(100% - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.video-container .intro {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  bottom: 50px;
}

.video-container .controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.video-container .controls .progress-bar {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  width: calc(100% - 40px);
  cursor: pointer;
}

.video-container .controls .actions {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.video-container .controls .actions .play-pause-stop {
  position: absolute;
  bottom: 20px;
  left: 30px;
  cursor: pointer;
}

.video-skip {
  position: absolute;
  left: calc(50% - 70px);
  bottom: 0px;
  cursor: pointer;
}

.video-skip p {
  font-family: "GTEesti";
  color: var(--clr-off-white);
  transition: color 0.4s;
}

.video-skip:hover p {
  color: var(--clr-primary);
  transition: color 0.4s;
}

@media (max-width: 767px) {
  .video-container {
    position: absolute;
    width: 100%;
    height: 280px;
  }

  .video-container .controls .actions .play-pause-stop {
    bottom: 10px;
    left: 20px;
  }

  .video-skip {
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    left: 50px;
  }

  .video-skip p {
    margin: 0;
    font-size: var(--font-small);
  }

  .intro {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
  }
}
