.visiting-room-banner {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  right: 20px;
  bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
  background: var(--background-gradient);
  box-shadow: var(--box-elevation-dark);
  border-radius: 4px;
}

.visiting-room-entry-text p {
  line-height: var(--font-copy-banner);
}

.visiting-room-banner button.hover-link {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-white);
}

@media (max-width: 767px) {
  .visiting-room-entry-text {
    margin: 0 40px;
  }
}
