.visiting-room-banner {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  right: 20px;
  bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
  background: var(--background-gradient);
  box-shadow: var(--box-elevation-dark);
  border-radius: 4px;
}

.visiting-room-banner.fadeout {
  z-index: -10;
  transition-property: z-index;
  transition-delay: 1.2s;
}

.visiting-room-entry-text span,
.visiting-room-entry-text a {
  line-height: var(--font-copy-banner);
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

.visiting-room-entry-text a {
  color: var(--clr-primary);
}

.visiting-room-banner button.hover-link {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-white);
  transition: color 0.2s;
}
.visiting-room-banner button.hover-link:hover {
  color: var(--clr-primary);
  transition: color 0.2s;
}

@media (max-width: 767px) {
  .visiting-room-entry-text {
    margin: 0 40px;
  }
}
