path.lifers {
  fill: var(--clr-primary);
  fill-opacity: 0.2;
  stroke: none;
  opacity: 0.5;
}

path.lifers-line {
  fill: none;
  stroke: var(--clr-chart);
  stroke-width: 1.5;
  opacity: 0.5;
}

path.pops {
  fill: var(--clr-primary);
  fill-opacity: 0.2;
  stroke: none;
  opacity: 0.5;
}

path.pops-line {
  fill: none;
  stroke: var(--clr-chart);
  stroke-width: 1.5;
  opacity: 0.5;
}

circle.pops-point,
circle.lifers-point,
circle.coms {
  fill: white;
  stroke: var(--clr-chart);
  stroke-width: 2;
}

text.text-value,
text.text-pops-value {
  fill: black;
  text-anchor: end;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-xsmall);
}

text.text-coms-value {
  fill: black;
  text-anchor: end;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-xsmall);
}

text.year {
  fill: black;
  text-anchor: middle;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-xsmall);
}

text.yearComs {
  fill: black;
  text-anchor: middle;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-xsmall);
}

text.legend-label {
  fill: black;
  text-anchor: end;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: var(--font-small);
}

line.long-ticks {
  stroke: var(--clr-chart);
  stroke-width: 2;
  stroke-dasharray: 2px 5px;
  opacity: 0.5;
}

line.line-coms {
  stroke: var(--clr-chart);
  stroke-width: 2;
  stroke-dasharray: 2px 5px;
  opacity: 0.5;
}

text.labelComsName,
text.labelComsValue {
  fill: black;
  text-anchor: middle;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  opacity: 0.75;
  font-size: var(--font-xsmall);
}
