.about {
  padding: 60px 0;
}

.about .copy-wrap {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 640px;
  margin: 0 auto;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.about .copy-wrap .copy p {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  font-size: var(--font-copy);
  text-align: left;
}

.about .title {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  font-family: "EB Garamond";
  font-size: 3.5rem;
  font-weight: normal;
}

/** REACT TABS
TODO: PUT IT IN ITS OWN FILE
*/

.react-tabs .react-tabs__tab-list {
  width: 640px;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: none;
  box-sizing: border-box;
  text-align: left;
}

.react-tabs__tab {
  position: relative;
  padding-left: 0;
  padding-right: 0px;
  margin: 20px 20px 0 0;
  font-family: "EB Garamond";
  font-size: var(--font-copy-label);
  font-weight: 300;
  color: var(--clr-black);
  transition: all 0.75s ease-in-out;
  letter-spacing: normal;
  transition: letter-spacing 0.4s;
}

.react-tabs__tab span {
  padding: 0 10px;
}

.react-tabs__tab:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0px;
  height: 4px;
  margin: 5px 0px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.react-tabs__tab:hover {
  letter-spacing: 0.02em;
  transition: letter-spacing 0.4s;
}

.react-tabs__tab:hover:after {
  width: 100%;
  opacity: 1;

  -webkit-animation: rotatingBackgroundColor 20s ease infinite;
  -moz-animation: rotatingBackgroundColor 20s ease infinite;
  -ms-animation: rotatingBackgroundColor 20s ease infinite;
  -o-animation: rotatingBackgroundColor 20s ease infinite;
  animation: rotatingBackgroundColor 20s ease infinite;
}

.react-tabs__tab-list .react-tabs__tab--selected {
  background: none !important;
  border: none;
}

.react-tabs__tab--selected:after {
  width: calc(100% - 20px);
  opacity: 1;

  -webkit-animation: rotatingBackgroundColor 20s ease infinite;
  -moz-animation: rotatingBackgroundColor 20s ease infinite;
  -ms-animation: rotatingBackgroundColor 20s ease infinite;
  -o-animation: rotatingBackgroundColor 20s ease infinite;
  animation: rotatingBackgroundColor 20s ease infinite;
}

@media (max-width: 767px) {
  .about .copy-wrap {
    width: calc(100% - 40px);
    padding-top: 20px;
  }

  .about .title {
    font-size: 2.5rem;
    margin-top: 20px;
  }
}
