.copy .term {
  cursor: pointer;
  border-bottom: 1px solid var(--clr-mid-grey);
}

.copy .term h4 {
  margin-bottom: 10px;
  transition: letter-spacing 0.4s, color 0.4s;
}

.copy .term h4:hover,
.copy .term.term-active h4 {
  color: var(--clr-primary);
  letter-spacing: 0.02em;
  transition: letter-spacing 0.4s, color 0.4s;
}

.copy .term .term-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease-in-out;
  font-weight: 300;
}

.copy .term .term-content p {
  margin: 10px 0;
  line-height: var(--copy-line-height);
}

.copy .term.term-active .term-content {
  max-height: 1200px;
  transition: max-height 1.2s ease-in-out;
}
