.text-on-landing {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;

  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.9) 100%
  ) !important;
}

.text-on-landing .title {
  position: relative;
  margin-bottom: var(--space-around-med);

  width: 100%;
  height: 90px;
  cursor: pointer;
  display: flex;
}

.text-on-landing .title h1 {
  position: relative;
  margin: 0;
  margin-left: var(--space-around-med);
  font-family: "EB Garamond";
  font-weight: 300;
  font-size: var(--font-subtitle);
  text-transform: none;
  letter-spacing: normal;
  transition: letter-spacing 1.2s;
}

.text-on-landing .title h1:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 4px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);

  -webkit-animation: rotatingBackgroundColor 10s ease infinite;
  -moz-animation: rotatingBackgroundColor 10s ease infinite;
  -ms-animation: rotatingBackgroundColor 10s ease infinite;
  -o-animation: rotatingBackgroundColor 10s ease infinite;
  animation: rotatingBackgroundColor 10s ease infinite;
}

.text-on-landing .title:hover h1 {
  letter-spacing: 0.01em;
  transition: letter-spacing 1.2s;
}

.home .subtitle {
  position: fixed;
  top: 0;
  left: var(--space-around-med);
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  font-size: var(--font-subtitle);
  display: flex;
  flex-direction: column;

  text-align: left;
  justify-content: center;
  align-items: flex-start;
}

.home .subtitle p {
  max-width: 600px;
  font-family: "EB Garamond", serif;
  margin: 0;
  margin-bottom: var(--space-around-med);
}

@media (max-width: 1824px) {
  .text-on-landing .title {
    font-size: var(--font-title);
  }

  .text-on-landing {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .text-on-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--space-around-med);
  }

  .text-on-landing .title {
    width: 100%;
    height: 50px;
  }

  .text-on-landing .actions {
    transform: translateX(0px);
  }

  .text-on-landing .title {
    max-height: 200px;
  }

  .text-on-landing .title h1 {
    font-size: 3rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    margin-left: var(--space-around-small);
  }

  .text-on-landing .title h1:after {
    bottom: -15px;
    right: 20px;
    width: calc(100% - 20px);

    -webkit-animation: rotatingBackgroundColor 20s ease infinite;
    -moz-animation: rotatingBackgroundColor 20s ease infinite;
    -ms-animation: rotatingBackgroundColor 20s ease infinite;
    -o-animation: rotatingBackgroundColor 20s ease infinite;
    animation: rotatingBackgroundColor 20s ease infinite;
  }

  .home .subtitle {
    position: fixed;
    width: auto;
    top: var(--space-around-small);
    right: var(--space-around-small);
    left: var(--space-around-small);
    padding: 0;
    flex-direction: column;
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
  }
}
