.text-on-landing {
  position: relative;
  width: 100%;
  padding-bottom: calc(2 * var(--space-around-med));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  ) !important;
}

.text-on-landing .title {
  width: 100%;
  height: 90px;
  cursor: pointer;
  display: flex;
}

.text-on-landing .title h1 {
  margin: 0 auto;
  font-family: "EB Garamond";
  font-weight: 300;
  font-size: var(--font-title);
  text-transform: none;
}

.text-on-landing .actions {
  font-family: GTPressura;
  font-weight: 500;
  color: var(--clr-off-white);
  overflow: hidden;
  height: 40px;
  opacity: 0;
  transition: opacity 0.4s, height 4s;
}

.text-on-landing.active .actions {
  height: 140px;
  transition: height 4s;
  overflow: visible;

  -webkit-animation: fadein 4s forwards;
  -moz-animation: fadein 4s forwards;
  -ms-animation: fadein 4s forwards;
  -o-animation: fadein 4s forwards;
  animation: fadein 4s forwards;
}

.text-on-landing .actions a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.text-on-landing .actions button {
  font-family: "EB Garamond";
  font-weight: 500;
  font-size: 1.5rem;
  margin: 40px 0 20px 0;
  padding: 0;
  color: var(--clr-off-white);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.text-on-landing .actions ul {
  font-size: var(--font-normal);
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.text-on-landing .actions ul li {
  list-style-type: none;
  font-family: "EB Garamond";
  font-weight: 300;
  font-size: 1rem;
  color: var(--clr-off-white);
  letter-spacing: inherit;
  transition: color 0.4s, letter-spacing 1.2s;
  cursor: pointer;
}

.text-on-landing .actions ul li:hover {
  color: var(--clr-primary);
  letter-spacing: 0.02em;
  transition: color 0.4s, letter-spacing 1.2s;
}

.text-on-landing .actions button:hover {
  color: var(--clr-primary);
}

.text-on-landing .actions button .icon {
  margin-left: 4px;
  display: inline-block;
  transform: scale(0.7) translateY(5px);
  transform-origin: center center;
}

.text-on-landing .subtitle {
  position: fixed;
  top: var(--space-around-med);
  right: var(--space-around-med);
  width: 100%;
  max-width: 240px;
  box-sizing: border-box;

  line-height: 1.5rem;
  text-align: right;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.text-on-landing .subtitle p {
  margin: 5px 0;
}

@media (max-width: 1824px) {
  .text-on-landing .title {
    font-size: var(--font-title);
  }

  .text-on-landing {
    padding-bottom: var(--space-around-med);
  }
}

@media (max-width: 767px) {
  .text-on-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-on-landing .title {
    width: 100%;
    height: 50px;
  }

  .text-on-landing .actions {
    transform: translateX(0px);
  }

  .text-on-landing {
    padding-bottom: var(--space-around-small);
  }

  .text-on-landing .title {
    max-height: 200px;
  }

  .text-on-landing .title h1 {
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
    text-transform: none;
  }

  .text-on-landing .actions {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 2s;
    opacity: 0;
  }

  .text-on-landing.active .actions {
    height: 140px;
    transition: height 2s;
    overflow: visible;

    -webkit-animation: fadein 4s forwards;
    -moz-animation: fadein 4s forwards;
    -ms-animation: fadein 4s forwards;
    -o-animation: fadein 4s forwards;
    animation: fadein 4s forwards;
  }

  .text-on-landing .actions a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .text-on-landing .actions button {
    font-size: var(--font-large);
    font-weight: 300;
    margin: 20px 0;
    cursor: pointer;
    color: var(--clr-off-white);
    transition: color 0.4s;
  }

  .text-on-landing .actions button:hover {
    color: var(--clr-primary);
    transition: color 0.4s;
  }

  .text-on-landing .actions button .icon {
    transform: scale(0.7) translateY(5px);
    transform-origin: center center;
  }

  .text-on-landing .actions ul {
    font-size: var(--font-copy);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .text-on-landing .actions ul li {
    text-align: center;
    font-weight: 500;
    margin: 5px 0;
    color: var(--clr-off-white);
    transition: color 0.4s;
  }

  .text-on-landing .actions ul li:hover {
    color: var(--clr-primary);
    transition: color 0.4s;
  }

  .text-on-landing .subtitle {
    position: relative;
    width: 100%;
    padding: 0 var(--space-around-med);
    max-width: 640px;
    max-height: 140px;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: var(--font-copy);
    font-weight: normal;
    text-align: center;
    right: auto;
    bottom: auto;
  }

  .text-on-landing .subtitle.hidden {
    -webkit-animation: fadeout 4s forwards;
    -moz-animation: fadeout 4s forwards;
    -ms-animation: fadeout 4s forwards;
    -o-animation: fadeout 4s forwards;
    animation: fadeout 4s forwards;

    max-height: 0px;
    transition: max-height 4s;
  }
}
