.about .copy-wrap {
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  width: 640px;
}

.about .copy-wrap .title {
  width: 100%;
  margin-bottom: 40px;
  font-family: "EB Garamond";
  font-size: 3.5rem;
  font-weight: normal;
}

.copy .faq {
  cursor: pointer;
  border-bottom: 1px solid var(--clr-off-white);
}

.copy .faq .faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease-in-out;
}

.copy .faq .faq-content li {
  line-height: var(--copy-line-height);
}

.copy .faq.faq-active .faq-content {
  max-height: 1200px;
  transition: max-height 1.2s ease-in-out;
}

/** REACT TABS
TODO: PUT IT IN ITS OWN FILE
*/

.react-tabs__tab {
  font-family: "GTPressura";
  font-size: var(--font-copy);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-white);
  transition: all 0.75s ease-in-out;
  position: relative;
}

.react-tabs__tab:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 30px;
  height: 2px;
  margin: 5px 10px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.react-tabs__tab:hover {
  color: var(--clr-primary);
}

.react-tabs__tab:hover:after {
  width: calc(100% - 20px);
  opacity: 1;
  background-color: var(--clr-primary);
}

.react-tabs__tab-list .react-tabs__tab--selected {
  background: none !important;
  color: var(--clr-primary);
  border: none;
}

.react-tabs__tab--selected:after {
  width: calc(100% - 20px);
  opacity: 1;
  background-color: var(--clr-primary);
}

.react-tabs .react-tabs__tab-list {
  border-bottom: none;
}

/**
HOVER LINKS
**/

.link-wrap {
  position: relative;
}

.about .link-wrap .hover-link {
  width: auto;
  font-family: "GTPressura";
  font-size: var(--font-copy);
  line-height: calc(2 * var(--font-copy));
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.75s ease-in-out;
  position: relative;
}

.about .link-wrap .hover-link:hover {
  color: var(--clr-primary);
}

.about .link-wrap .hover-link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0%;
  width: 60px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.about .link-wrap .hover-link:hover:after {
  width: 100%;
  opacity: 1;
  background-color: var(--clr-primary);
}

@media (max-width: 767px) {
  .about .copy-wrap {
    width: 80%;
  }

  .about .copy-wrap .title {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 40px;
  }
}
