.archive .header {
  position: relative;
  padding: 10px 60px;
  box-sizing: border-box;
  max-height: 800px;
  transition: max-height 0.4s;
}

.archive .header.shrunk {
  max-height: 80px;
  height: 100%;
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  background: linear-gradient(330deg, var(--clr-black), var(--clr-dark-grey));
  transition: max-height 0.4s;
}

.archive .header .header-intro {
  font-size: var(--font-copy);
  line-height: var(--font-copy-timeline);
  font-weight: 300;
  max-width: 640px;
  margin: 0 auto;
}

.archive .header .header-intro p {
  max-height: 200px;
  height: 100%;
  overflow: hidden;
}

.archive .header.shrunk .header-intro p {
  max-height: 0;
  margin: 0;
  transition: max-height 0.4s, margin 0.4s;
}

.archive .header .header-intro h2 {
  text-align: center;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  transition: font-size 0.4s;
}

.archive .header.shrunk .header-intro h2 {
  margin: 0 auto;
  font-size: var(--font-copy-timeline);
  line-height: 60px;
  transition: font-size 0.4s;
}

.archive .header-controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  bottom: 90px;
  right: var(--space-around-xsmall);
}

.archive .header.shrunk .header-controls {
  width: 320px;
  bottom: 10px;
  text-align: left;
}

.archive .header .header-controls p {
  margin: 0;
  cursor: pointer;
  font-size: var(--font-small);
  transition: color 0.4s;
}

.archive .header .header-controls .view-options,
.archive .header .header-controls .sorting-options {
  flex: 1;
}

.archive .header .header-controls .search-trigger {
  width: 30px;
}

.archive .header .header-controls p:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.archive .header p.active {
  font-weight: 700;
}

.archive .header-controls .search-trigger {
  width: 100%;
  text-align: right;
  cursor: pointer;
}

@media (min-width: 768px) {
  .archive .header-controls.open {
    position: absolute;
    height: 30px;
    margin-top: -60px;
    margin-bottom: 36px;
    padding: 20px;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .archive h2 {
    padding: 10px 0px;
  }

  .archive .header {
    padding: 20px 20px;
  }

  .archive .header-content {
    top: -20px;
  }

  .archive .header-content.open {
    position: absolute;
    background-color: var(--clr-black);
  }

  .archive .header-content .header-options {
    opacity: 0;
  }

  .archive .header-content.open .header-options {
    padding: 20px;
    opacity: 1;
    transition-delay: 0.4s;
    transition-property: opacity;
    transition-duration: 0.4s;
  }

  .archive .header .view-options {
    display: none;
  }
}
