body {
  background: linear-gradient(240deg, var(--clr-black), var(--clr-dark-grey));
}

.archive-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.archive {
  padding: 40px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.archive .header {
  position: relative;
  padding: 20px 60px;
}

.archive .header .header-intro {
  font-size: var(--font-copy);
  line-height: var(--font-copy-timeline);
  font-weight: 300;
  max-width: 640px;
  margin: 0 auto;
}

.archive .header .header-intro p {
  max-height: 200px;
  height: 100%;
  overflow: hidden;
}

.archive .header.shrunk .header-intro p {
  max-height: 0;
  margin: 0;
  transition: max-height 0.4s, margin 0.4s;
}

.archive .header .header-intro h2 {
  text-align: center;
  width: 100px;
  margin: 0 auto;
  transition: font-size 0.4s;
}

.archive .header.shrunk {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.archive .header.shrunk .header-intro h2 {
  margin: 0 auto;
  font-size: var(--font-size-h3);
  transition: font-size 0.4s;
}

.archive .header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 90px;
  right: var(--space-around-xsmall);
}

.archive .header .sorting-options {
  text-align: right;
}

.archive .header .sorting-options p {
  margin: 0;
  cursor: pointer;
  font-size: var(--font-small);
  transition: color 0.4s;
}

.archive .header .sorting-options p:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.archive .header .sorting-options p.active {
  font-weight: 700;
}

.archive .header-content .search-trigger {
  width: 100%;
  text-align: right;
  cursor: pointer;
}

@media (min-width: 768px) {
  .archive .header-content.open {
    position: absolute;
    height: 30px;
    margin-top: -60px;
    margin-bottom: 36px;
    padding: 20px;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .archive h2 {
    padding: 10px 0px;
  }

  .archive .header {
    padding: 20px 20px;
  }

  .archive .header-content {
    top: -20px;
  }

  .archive .header-content.open {
    position: absolute;
    background-color: var(--clr-black);
  }

  .archive .header-content .header-options {
    opacity: 0;
  }

  .archive .header-content.open .header-options {
    padding: 20px;
    opacity: 1;
    transition-delay: 0.4s;
    transition-property: opacity;
    transition-duration: 0.4s;
  }
}

.archive table {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "GTPressura";
}

.archive table tr {
  height: 40px;
  line-height: 40px;
  background-color: rgba(var(--clr-white-rgb), 0);
  transition: background-color 0.4s, height 1s;
  cursor: pointer;
}

.archive table tr:hover {
  background-color: rgba(var(--clr-white-rgb), 0.1);
  transition: background-color 0.4s;
}

.archive table tbody {
  flex: 1;
  scrollbar-width: 5px;
  scrollbar-color: var(--clr-primary) var(--clr-black);
}

/**
!!!!!! TODO !!!!!
THIS IS NOT STANDARD
REPLACE WITH A SCROLLBAR STYLING LIBRARY
**/
.archive table tbody::-webkit-scrollbar {
  width: 11px;
}
.archive table tbody::-webkit-scrollbar-track {
  background: var(--clr-black);
}
.archive table tbody::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 6px;
  border: 3px solid var(--clr-black);
}
/**
^^^^^
!!!!!! TODO !!!!!
THIS IS NOT STANDARD
REPLACE WITH A SCROLLBAR STYLING LIBRARY
**/

.archive table thead tr {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--clr-white);
  border-bottom: 1px solid var(--clr-white);
}

.archive table thead tr th {
  flex: 1;
  text-align: left;
  text-transform: uppercase;
  padding: 0 20px 0 10px;
}

.archive table thead tr th span {
  height: 12px;
  line-height: 12px;
  text-transform: none;
  font-weight: normal;
  font-size: var(--font-xsmall);
}

.archive table tbody {
  overflow: auto;
  height: 100%;
}

.archive table tbody tr {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--clr-white);
}

.archive table tbody tr {
  height: 40px;
  background-color: none;
  transition: background-color 1s, height 1s;
}

.archive table tbody tr.open {
  height: 160px;
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 1s, height 1s;
}

.archive table tbody tr td {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0 20px 0 0;
  border-right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.archive table tbody tr td .gatsby-image-wrapper {
  height: 100%;
}

.archive table tbody tr td .gatsby-image-wrapper img {
  filter: brightness(0.9) contrast(120%) saturate(100%);
}
