.close {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
.close:hover {
  opacity: 1;
  transition: opacity 0.4s, background-color 0.4s;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #d0d0d0;
  transition: opacity 0.4s, background-color 0.4s;
}

.close.primary:before,
.close.primary:after {
  background-color: var(--clr-primary);
  transition: background-color 0.4s;
}

.close:before {
  transform: rotate(45deg) translate(-10px, -10px);
}
.close:after {
  transform: rotate(-45deg) translate(10px, -10px);
}
