.close {
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.3;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: opacity 0.4s, background-color 0.4s;
}
.close:hover {
  opacity: 1;
  transition: opacity 0.4s, background-color 0.4s;
}

.close:before,
.close:after {
  position: absolute;
  left: 12px;
  content: " ";
  height: 25px;
  width: 2px;
  background-color: #d0d0d0;
  transition: opacity 0.4s, background-color 0.4s;
}

.close.primary:before,
.close.primary:after {
  -webkit-animation: rotatingBackgroundColor 20s ease infinite;
  -moz-animation: rotatingBackgroundColor 20s ease infinite;
  -ms-animation: rotatingBackgroundColor 20s ease infinite;
  -o-animation: rotatingBackgroundColor 20s ease infinite;
  animation: rotatingBackgroundColor 20s ease infinite;

  transition: opacity 0.4s;
}

.close:before {
  transform: rotate(45deg) translate(-8px, -8px);
}
.close:after {
  transform: rotate(-45deg) translate(8px, -8px);
}
