.header-options {
  flex-direction: row;
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  padding-bottom: 8px;
  padding-top: 8px;
}

.header-options .header-option {
  margin-left: 40px;
  margin: 20px;
}

.header-options .header-option.search {
  margin: 0px 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-options .header-option.search .icon {
  height: 24px;
  line-height: 32px;
  margin-right: 10px;
}

.header-options .header-option.search .icon:hover path,
.header-options .header-option.search .icon:hover ellipse {
  stroke: var(--clr-primary) !important;
}

.header-content,
.header-content .header-options {
  width: 100%;
  flex-direction: row;
}

.header-options {
  justify-content: flex-end;
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: none;
}

.header-options .header-option {
  text-align: left;
}

.header-content.open {
  z-index: 2;
}

.header-content {
  height: 0px;
  transition: height 0.4s;
}

.header-content.open {
  height: 200px;
  transition: height 0.4s;
}

.header-content .search-trigger {
  width: 100%;
  margin-top: 0;
  text-align: right;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header-content .header-options {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-options .header-option {
    margin: 0;
  }
}

.header-options .search-input {
  font-family: "GTPressura-italic";
  color: var(--clr-mid-grey);
  margin: 0;
  margin-left: 10px;
  width: 200px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--clr-primary);
}

.header-option {
  font-family: Archivo, Helvetica Neue, Arial, sans-serif;
  font-size: var(--font-small);
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-options .header-option {
  align-items: start;
}

/**
Input
**/

.input {
  margin: 1em 1em 1em;
  display: flex;
  flex-direction: column;
}

.input__field {
  padding: 0.4em 0em;
  width: 100%;
  background: transparent;
  border: 0px;
  font-size: 1.55em;
  outline: none;
  border-bottom: 1px solid var(--clr-primary);
  font-family: "EB Garamond";
  font-size: var(--font-normal);
  font-weight: 100;
  color: var(--clr-white);
}

.input__label {
  width: 100%;
  text-align: left;
  pointer-events: none;
  margin-top: 4px;
}

.input__label-content {
  transition: transform 0.3s;
}

.input__label::before,
.input__label::after {
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 4px;
  background: none;
  transition: transform 0.3s;
}

.input__label::before {
  top: 0;
}

.input__label::after {
  bottom: 0;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  transform: translate3d(0, -90%, 0);
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
  transform: translate3d(0, -0.5em, 0);
}

.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  transform: translate3d(0, 0.5em, 0);
}
