.footer {
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  text-align: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .link-wrap {
  padding: 0 20px;
}

.footer .link-wrap a {
  font-family: "EB Garamond";
  width: auto;
  font-size: var(--font-normal);
  font-weight: 300;
  text-transform: none;
  transition: all 0.75s ease-in-out;
  position: relative;
}

.footer .link-wrap a.hover-link {
  color: var(--clr-off-white);
}

.footer.light .link-wrap a.hover-link {
  color: var(--clr-black);
}

.footer .link-wrap .hover-link:after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 0%;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.footer .link-wrap .hover-link:hover:after {
  width: 100%;
  opacity: 1;
  background-color: var(--clr-primary);
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer .link-wrap {
    padding: 10px 0px;
  }
}
