.grid {
  position: absolute;
  width: 100%;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  grid-auto-rows: 428px;
  padding: 0px 0;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  background: var(--background-gradient);
  opacity: 0;

  -webkit-animation: fadein 4s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s forwards; /* Firefox < 16 */
  -ms-animation: fadein 4s forwards; /* Internet Explorer */
  -o-animation: fadein 4s forwards; /* Opera < 12.1 */
  animation: fadein 4s forwards;
}

.grid-cell .cell-hover-quote {
  padding: 40px;
}

@media (min-width: 1800px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-cell .cell-hover-quote {
    padding: 40px 80px;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-cell .cell-hover-quote {
    padding: 40px;
  }

  .grid-cell .cell-hover-quote .quote {
    font-size: 1.1rem;
  }
}
