.header-banner {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(var(--clr-black-rgb), 0.85);
  box-shadow: var(--box-elevation-dark);
  border-radius: 4px;
  z-index: -1;
  opacity: 1;
  transform: translate(0, 0px);
  transition: visibility 1.2s 1.2s, transform 0.4s, opacity 0.4s;
}

.light .header-banner {
  background: rgba(var(--clr-white-rgb), 0.95);
  box-shadow: var(--box-elevation-light);
}

.header-banner.fadeout {
  opacity: 0;
  transform: translate(0, -100%);
  transition: transform 0.4s, opacity 0.4s;
}

.header-entry-text {
  margin-left: 63px;
  margin-top: 60px;
  width: 640px;
  max-width: 640px;
}

.header-entry-text.auto {
  max-width: inherit;
  width: inherit;
}

.header-entry-text span,
.header-entry-text a {
  font-size: var(--font-copy-label);
  font-family: "EB Garamond";
}

.header-entry-text a {
  color: var(--clr-primary);
}

.header-banner button.hover-link {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-white);
  transition: color 0.2s;
}

.header-banner .intro-banner {
  position: relative;
  width: 320px;
  height: 240px;

  flex: 1.5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-banner .intro-banner .foreword-wrap {
  position: absolute;
  width: 465px;
  border: 1px solid var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-banner .intro-banner .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  filter: brightness(0.8);
  background-size: cover;
  background-position: center center;
  transition: filter 0.4s;
}

.header-banner .intro-banner:hover .bg {
  filter: brightness(0.4);
  transition: filter 0.4s;
}

.header-banner .intro-banner .labels {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light .header-banner button.hover-link {
  color: var(--clr-black);
  transition: color 0.2s;
}

.header-banner button.hover-link:hover {
  color: var(--clr-primary);
  transition: color 0.2s;
}

.header-banner .button-wrap {
  position: relative;
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 5px;
  flex-direction: column;
}

@media (max-width: 767px) {
  .header-entry-text {
    margin: 0 20px;
  }

  .header-entry-text {
    margin-left: 35px;
    margin-top: 60px;
    width: calc(100% - 70px);
    max-width: 640px;
    line-height: normal;
  }
}

@media (max-width: 1224px) {
  .header-banner .vr-banner {
    height: 400px;
  }
  .header-banner .vr-banner .intro-banner {
    width: 328px;
    height: 184px;
    margin-left: -30px;
    padding: 0;
    border: none;
  }
}
