.header {
  position: fixed;
  top: 0;
  height: 70px;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: flex-start;
  z-index: 12;
}

.header .home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  margin: 2px 0 0 30px;
  position: relative;
  z-index: 10;
  font-family: "EB Garamond";
  background: none;
  transition: color 0.4s;
  cursor: pointer;
}

.header .home-home {
  color: var(--clr-off-white);
  font-family: "EB Garamond";
  font-size: var(--font-small);
  position: relative;
  top: 15px;
  left: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.header.light {
  background-color: var(--clr-off-white);
  transition: background-color 0.4s;
}

.header.light .home-title,
.header.light .home-home {
  color: var(--clr-black);
}

.header .home-title h2 {
  font-size: var(--font-header-title);
}

.header .home-title.open {
  color: var(--clr-off-white);
  transition: color 0.4s;
}

.header .home-link {
  margin: 0;
  height: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.header .breadcrumbs {
  display: flex;
  flex-direction: row;
}

.header .title-help {
  position: absolute;
  opacity: 0;
  margin-left: -10px;
  padding: 0px 8px;
  line-height: 20px;
  transition: opacity 0.8s, margin-left 0.4s;
  font-size: var(--font-xsmall);
  border: 1px solid white;
  border-radius: 20px;
}

.header .title-help.active {
  opacity: 0.5;
  margin-left: 10px;
  transition: opacity 0.8s, margin-left 0.4s;
  cursor: pointer;
}
.header .title-help.active:hover {
  opacity: 1;
}

.header .actions {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

/* */

.home-link-wrap .home-link:after {
  content: "";
  position: absolute;
  top: 24px;
  width: 0;
  height: 4px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 1.2s;
  opacity: 1;
  background-color: var(--clr-white);
  right: 0%;
}

.home-link-wrap:hover .home-link:after {
  width: 100%;
  opacity: 1;
  height: 4px;
  /*background-color: var(--clr-primary);*/
  -webkit-animation: rotatingBackgroundColor 20s ease infinite;
  -moz-animation: rotatingBackgroundColor 20s ease infinite;
  -ms-animation: rotatingBackgroundColor 20s ease infinite;
  -o-animation: rotatingBackgroundColor 20s ease infinite;
  animation: rotatingBackgroundColor 20s ease infinite;
}

@media (max-width: 767px) {
  .header .home-title {
    box-sizing: border-box;
    line-height: 1em;
    font-size: 1.5em;
  }

  .header .home-title h6.home-link {
    margin: 0;
  }

  .archive-wrap .header .actions {
    /* TBD */
  }
}
