.home {
  background: var(--clr-dark-bg);
}
.home .landing {
  width: 100%;
  height: 100vh;
  /*background-image: url("../images/TEMP/animationBg.jpg");*/
  background: none;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.home .landing .text-on-landing {
  position: absolute;
  right: var(--space-around-xl);
  left: calc(2 * var(--space-around-xl));
  padding-bottom: calc(2 * var(--space-around-xl));
}

.home .landing .text-on-landing .subtitle {
  width: 100%;
  max-width: 1200px;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
}

.home .landing .text-on-landing .subtitle:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.home .landing .text-on-landing .subtitle:hover .play circle {
  stroke: var(--clr-primary);
  transition: stroke 0.4s;
}
.home .landing .text-on-landing .subtitle:hover .play polygon {
  fill: var(--clr-primary);
  stroke: var(--clr-primary);
  transition: stroke 0.4s, fill 0.4s;
}

.home .landing .text-on-landing .subtitle .play {
  margin-right: var(--space-around-small);
}

.home .landing .text-on-landing .title {
  width: 100%;
  font-family: "GTPressura";
  font-weight: 700;
  font-size: var(--font-title);
}

.home article.copy {
  min-height: 0;
}

.home .landing .buttons .button {
  margin: 0;
  height: 60px;
  line-height: 40px;
  padding: 20px 20px;
  text-align: center;
  font-family: "GTPressura";
  font-size: var(--font-subtitle);
  cursor: pointer;
  transition: letter-spacing 1.2s;
}

.button:hover {
  letter-spacing: 0.02em;
  transition: letter-spacing 1.2s;
}

.home .landing .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home .landing .buttons .button:first-child {
  padding-left: 0;
}

.home .landing .buttons .button h3 {
  font-family: "Playfair Display", sans-serif;
  display: inline;
  font-weight: 300;
}

.home .copy-wrap .button {
  margin: 0;
}

.home .link-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px;
}

.home .hover-link {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.home .hover-link:after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 60px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.home .button:hover .hover-link {
  color: var(--clr-primary);
  letter-spacing: 0.02em;
  transition: letter-spacing 1.2s, color 0.4s;
}

.home .button:hover .hover-link:after {
  width: 100%;
  opacity: 1;
  background-color: var(--clr-primary);
}

.home .hover-link:after {
  right: 0%;
}

/** HIGHLIGHT COPY **/

.highlight-wrap {
  display: flex;
  flex-direction: column;
  background: var(--clr-black);

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.highlight-wrap .copy {
  padding: 60px 0;
  width: 640px;
  margin: 0 auto;
  font-family: "GTPressura";
  font-size: var(--font-copy-timeline);
  text-align: center;
  color: var(--clr-white);
}

.highlight-wrap .copy p {
  font-weight: 300;
  line-height: var(--copy-line-height);
  margin: 0 0 var(--space-around-med) 0;
}

/** END OF HIGHLIGHT COPY **/

section .about-button {
  height: 200px;
  background: var(--clr-dark-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1824px) {
  .home .landing .text-on-landing .title {
    font-size: 6.5rem;
  }

  .home .landing .text-on-landing {
    right: var(--space-around-xl);
    left: var(--space-around-xl);
    padding-bottom: var(--space-around-xl);
  }
}

/* IPAD */
@media (max-width: 1024px) {
  .home .landing .text-on-landing {
    right: var(--space-around-small);
    left: var(--space-around-small);
    padding-bottom: var(--space-around-xl);
  }
}

@media (max-width: 767px) {
  .home .landing .text-on-landing {
    right: var(--space-around-xsmall);
    left: var(--space-around-xsmall);
    padding-bottom: var(--space-around-med);
  }

  .home .landing .text-on-landing .title {
    font-size: 4.5rem;
  }

  .home .landing .text-on-landing .subtitle {
    width: 100%;
    flex-direction: row;
  }

  .home .landing .text-on-landing .subtitle .play {
    flex: 1;
    margin-right: 10px;
  }

  .home .landing .text-on-landing .subtitle span {
    flex: 7;
    font-size: 1.6rem;
    text-align: left;
  }

  .home .landing .buttons {
    display: inline-block;
    width: 100%;
  }

  .home .landing .buttons .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 20px 0px 0 0;
    padding: 0;
    background: none;
    transition: background-color 0.4s, letter-spacing 1.2s, border 0.4s;
  }

  .highlight-wrap {
    width: calc(100% - var(--space-around-med));
  }

  .highlight-wrap .copy {
    width: 100%;
    margin: 0 auto;
  }
}
