.home {
  background: var(--clr-dark-bg);
}
.home .landing {
  width: 100%;
  height: 100vh;
  /*background-image: url("../images/TEMP/animationBg.jpg");*/
  background: none;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.home .landing .text-on-landing {
  right: var(--space-around-med);
  left: var(--space-around-med);
}

.home .landing .text-on-landing .subtitle {
  width: 80%;
  max-width: 1200px;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.4em;
}

.home .landing .text-on-landing .title {
  width: 100%;
  font-family: "GTPressura";
  font-weight: 700;
  font-size: var(--font-title);
}

.home article.copy {
  min-height: 0;
}

.button {
  margin: 20px 0;
  height: 60px;
  line-height: 40px;
  padding: 10px 20px;
  text-align: center;
  font-family: "GTPressura";
  background-color: var(--clr-dark-bg);
  /*border: 1px solid #ffffff;*/
  font-size: var(--font-subtitle);
  cursor: pointer;
  transition: background-color 0.4s, letter-spacing 1.2s;
}

.button:hover {
  background-color: #141414;
  letter-spacing: 0.02em;
  transition: background-color 0.4s, letter-spacing 1.2s;
}

.home .landing .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.home .landing .buttons .button {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 40px;
  margin-right: 80px;
  background: none;
  border: 1px solid white;
  transition: background-color 0.4s, letter-spacing 1.2s, border 0.4s;
}

.home .landing .buttons .button:hover {
  border: 1px solid var(--clr-primary);
  transition: background-color 0.4s, letter-spacing 1.2s, border 0.4s;
}

.home .landing .buttons .button h3 {
  font-family: "GTPressura", sans-serif;
  display: inline;
  padding-left: 20px;
}

.home .copy-wrap .button {
  margin: 0;
}

.link-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px;
}

.hover-link {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.hover-link:before,
.hover-link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background-color: var(--clr-primary);
}

.button:hover .hover-link:before,
.button:hover .hover-link:after {
  width: 50%;
  opacity: 1;
}

.hover-link:before {
  left: 50%;
}
.hover-link:after {
  right: 50%;
}

.footer {
  width: calc(100% - 80px);
  height: 120px;
  background: var(--clr-black);
  margin: 0 auto;
  font-family: GTPressura;
  font-weight: light;
  color: var(--clr-light-grey);
  border-top: 1px solid var(--clr-primary);
}

.footer-wrapper {
  width: 640px;
  margin: 0 auto;
}

.footer ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}
