.loader-wrap .svg-wrapper {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 40px;
  display: flex;
  justify-content: center;
}

.loader-wrap .shape {
  stroke-width: 0px;
  stroke-dashoffset: 0;
  stroke-dasharray: 440;
  fill: transparent;
  border-bottom: 2px solid black;
  transition: stroke-width 2s, stroke-dashoffset 2s, stroke-dasharray 2s;

  -webkit-animation: rotatingStokeColor 12s;
  -moz-animation: rotatingStokeColor 12s;
  -ms-animation: rotatingStokeColor 12s;
  -o-animation: rotatingStokeColor 12s;
  animation: rotatingStokeColor 12s;
}

.loader-wrap .text {
  position: relative;
  font-family: "EB Garamond";
  text-align: center;
  line-height: 40px;
  margin: 0;
  animation: text 2s alternate infinite;
}

.loader-wrap .svg-wrapper .shape {
  animation: dash 2s alternate infinite;
}

@keyframes dash {
  from {
    stroke-width: 40px;
    stroke-dashoffset: 0;
    stroke-dasharray: 160px;
  }
  to {
    stroke-dasharray: 0 160;
    stroke-dashoffset: -74;
    stroke-width: 4px;
  }
}

@keyframes text {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

/**
* NEW LOADER
**/

.loader {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-indent: -9999em;
  margin: 10px auto;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-cell {
  width: 16px;
  height: 4px;
  background: black;
}

.loader-cell-0 {
  -webkit-animation: rotatingBackgroundColor 12s linear -200ms infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -200ms infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -200ms infinite;
  -o-animation: rotatingBackgroundColor 12s linear -200ms infinite;
  animation: rotatingBackgroundColor 12s linear -200ms infinite;
}
.loader-cell-1 {
  -webkit-animation: rotatingBackgroundColor 12s linear -3s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -3s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -3s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -3s infinite;
  animation: rotatingBackgroundColor 12s linear -3s infinite;
}
.loader-cell-2 {
  -webkit-animation: rotatingBackgroundColor 12s linear -100ms infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -100ms infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -100ms infinite;
  -o-animation: rotatingBackgroundColor 12s linear -100ms infinite;
  animation: rotatingBackgroundColor 12s linear -100ms infinite;
}
.loader-cell-3 {
  -webkit-animation: rotatingBackgroundColor 12s linear -700ms infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -700ms infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -700ms infinite;
  -o-animation: rotatingBackgroundColor 12s linear -700ms infinite;
  animation: rotatingBackgroundColor 12s linear -700ms infinite;
}
.loader-cell-4 {
  -webkit-animation: rotatingBackgroundColor 12s linear -50ms infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -50ms infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -50ms infinite;
  -o-animation: rotatingBackgroundColor 12s linear -50ms infinite;
  animation: rotatingBackgroundColor 12s linear -50ms infinite;
}
.loader-cell-5 {
  -webkit-animation: rotatingBackgroundColor 12s linear -10s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -10s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -10s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -10s infinite;
  animation: rotatingBackgroundColor 12s linear -10s infinite;
}
.loader-cell-6 {
  -webkit-animation: rotatingBackgroundColor 12s linear -2s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -2s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -2s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -2s infinite;
  animation: rotatingBackgroundColor 12s linear -2s infinite;
}
.loader-cell-7 {
  -webkit-animation: rotatingBackgroundColor 12s linear -400ms infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -400ms infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -400ms infinite;
  -o-animation: rotatingBackgroundColor 12s linear -400ms infinite;
  animation: rotatingBackgroundColor 12s linear -400ms infinite;
}
.loader-cell-8 {
  -webkit-animation: rotatingBackgroundColor 12s linear -4s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -4s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -4s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -4s infinite;
  animation: rotatingBackgroundColor 12s linear -4s infinite;
}
.loader-cell-9 {
  -webkit-animation: rotatingBackgroundColor 12s linear -6s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -6s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -6s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -6s infinite;
  animation: rotatingBackgroundColor 12s linear -6s infinite;
}
.loader-cell-10 {
  -webkit-animation: rotatingBackgroundColor 12s linear -1.2s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -1.2s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -1.2s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -1.2s infinite;
  animation: rotatingBackgroundColor 12s linear -1.2s infinite;
}
