.menu {
  position: fixed;
  left: 0;
  top: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 12;
  cursor: pointer;
  color: var(-clr-white);
  transition: background-color 0.4s, opacity 0.4s;
  opacity: 0.7;
}

.menu:hover {
  opacity: 1;
  transition: opacity 0.4s;
}

.menu.menu-light {
  color: var(--clr-black);
}

.menu-options {
  cursor: pointer;
  width: 400px;
  height: 100vh;
  left: -400px;
  position: fixed;
  display: flex;
  padding-left: 20px;
  z-index: 11;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s, left 0.4s;
}

.menu-options.open {
  left: 50px;
  opacity: 1;
}

.menu-options a {
  padding: 6px 0;
  margin: 10px 0;

  font-family: "GTPressura";
  font-size: var(--font-large);
  font-weight: 300;
  text-align: left;
  color: var(--clr-white);
  letter-spacing: normal;
  line-height: 1em;
  cursor: pointer;
  transition: letter-spacing 1.2s, color 1.2s;
}

.menu-options.menu-light a {
  color: var(--clr-black);
}

.menu-options a:hover {
  /*color: var(--clr-primary);*/
  letter-spacing: 0.02em;
  transition: letter-spacing 1.2s, color 1.2s;

  -webkit-animation: rotatingColor 20s ease infinite;
  -moz-animation: rotatingColor 20s ease infinite;
  -ms-animation: rotatingColor 20s ease infinite;
  -o-animation: rotatingColor 20s ease infinite;
  animation: rotatingColor 20s ease infinite;
}

.menu .home-title {
  font-family: "EB Garamond";
  display: inline-block;
  width: 300px;
  background: none;
  z-index: 12;
  font-size: var(--font-copy-timeline);
  margin: -3px 0 10px 0px;
}

.menu-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(0);
  z-index: -1;
  transition: backdrop-filter 0.4s, z-index 0.5s step-end;
}

.menu-backdrop.menu-backdrop-on {
  backdrop-filter: blur(50px);
  z-index: 10;
  transition: backdrop-filter 0.4s;
}

.menu-backdrop.menu-backdrop-on {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.4s;
}

/* if backdrop support: very transparent and blurred */
@supports (
  (-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))
) {
  .menu-backdrop.menu-backdrop-on {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
}

/*
MENU LINKS
*/

.menu-option-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 15px;
}

.menu-option-wrap .hover-link {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.menu-option-wrap .hover-link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 60px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.menu-option-wrap:hover .hover-link:after {
  width: 100%;
  opacity: 1;
  /*background-color: var(--clr-primary);*/
  -webkit-animation: rotatingBackgroundColor 20s ease infinite;
  -moz-animation: rotatingBackgroundColor 20s ease infinite;
  -ms-animation: rotatingBackgroundColor 20s ease infinite;
  -o-animation: rotatingBackgroundColor 20s ease infinite;
  animation: rotatingBackgroundColor 20s ease infinite;
}

.hover-link:after {
  right: 0%;
}

@media (max-width: 767px) {
  .menu .home-title {
    font-size: 1.5em;
  }

  .menu-options.open {
    left: 20px;
  }
}
