.paragraph {
  display: inline;
  padding: 0;
  margin: 0 auto;

  font-family: Muli, Helvetica Neue, Arial, sans-serif;
  font-size: var(--font-copy-timeline);
  line-height: var(--copy-line-height);
  color: var(--clr-black);
  font-weight: 300;
}

.paragraph.link a {
  color: var(--clr-black);
  font-family: "EB Garamond";
  text-align: center;
}

.paragraph.ref {
  display: inline-block;
  color: var(--clr-black);
  font-family: Muli, Helvetica Neue, Arial, sans-serif;
  font-size: var(--font-small);
  font-weight: 300;

  position: relative;
  width: 12px;
  height: 20px;
  padding-left: 2px;
  transform: translate(0px, -10px);
}

.paragraph.reference {
  display: block;
  font-size: var(--font-copy);
  font-weight: 300;
  list-style: none;
  margin-bottom: 20px;
  color: var(--clr-white);
}

@media (max-width: 1824px) {
  .paragraph {
    font-size: var(--font-copy-timeline);
    line-height: calc(1.6 * var(--font-copy-timeline));
  }
}

@media (max-width: 767px) {
  .paragraph {
    font-size: calc(var(--font-copy) * 1.2);
    line-height: calc(var(--font-copy) * 1.5);
  }

  .paragraph li {
    word-break: break-all;
  }

  .paragraph.ref {
    width: 10px;
    height: 12px;
  }
}
