article {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

article.timeline {
  background: var(--clr-white);
}

.timeline-title,
.timeline-wrap {
  position: relative;
}

.timeline-title {
  text-align: center;
  text-transform: none;
  min-height: 100vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-title .background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  filter: brightness(50%);
}

.timeline-title h2 {
  position: absolute;
  font-family: GTPressura;
  font-size: var(--font-large);
  color: white;
  text-transform: none;
}

.timeline-wrap {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  overflow: hidden;
  background-color: white;
  scroll-behavior: smooth;

  /* -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  /* -moz-animation: fadein 4s; /* Firefox < 16 */
  /* -ms-animation: fadein 4s; /* Internet Explorer */
  /* -o-animation: fadein 4s; /* Opera < 12.1 */
  /* animation: fadein 4s; */
}

.timeline-wrap.invert {
  background-image: none;
  background-color: black;
}

.timeline-wrap .timeline-step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 400vh;
}

.step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  height: 100vh;
  position: sticky;
  top: 0;
}

.step-columns {
  width: 640px;
  column-count: 2;
  column-gap: 2em;
  justify-self: flex-start;
}

.timeline.invert .timeline-copy .copy {
  color: black;
  transition: color 0.4s;
}

.timeline .timeline-copy .copy {
  font-weight: 300;
}

.timeline .timeline-copy .timeline-step .year-label,
.timeline .timeline-copy .timeline-step h2 {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.timeline .timeline-copy .timeline-step h3.year-label {
  font-family: "GTEesti";
  font-weight: lighter;
  font-size: var(--font-small);
}

.timeline .timeline-copy .lede {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 640px;
  margin: 0 auto;
}

.timeline .lede-initial {
  display: inline-block;
  line-height: 110px;
}

.timeline .timeline-copy .paragraph-wrap {
  display: block;
  margin: 0 auto;
  /*width: 640px;*/
}

.timeline .timeline-copy .paragraph {
  display: inline;
  padding: 0;
  /*max-width: 640px;*/
  margin: 0 auto;
  line-height: 1.5em;
}

.timeline .timeline-copy .lede .lede-content .paragraph-wrap {
  width: 100%;
}

.timeline .timeline-copy {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-top: 0;

  /* -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  /* -moz-animation: fadein 4s; /* Firefox < 16 */
  /* -ms-animation: fadein 4s; /* Internet Explorer */
  /* -o-animation: fadein 4s; /* Opera < 12.1 */
  /* animation: fadein 4s; */

  font-family: "GTPressura";
  font-size: var(--font-normal);
  text-align: justify;
  color: black;
}

.timeline-figure + .timeline-copy {
  padding-left: 0%;
}

.timeline .quote {
  font-family: "Playfair Display", serif;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 1.5em;
  text-align: right;
  margin: 2em 0;
  margin-right: -50px;
  padding-left: 50px;
}

.timeline .footnote-trigger-wrap {
  display: inline-block;
  height: 20px;
}

.timeline .footnote-trigger {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: none;
  color: var(--clr-primary);
  margin: 0 10px 4px 0;
  box-sizing: border-box;
  padding: 0px 3px 0 0;
  line-height: 14px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.timeline .footnote-trigger:hover {
  color: black;
  transition: background-color 0.4s, color 0.4s;
}

.stickyness {
  position: sticky;
  position: -webkit-sticky;
}

.timeline-figure {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-figure.long {
  height: 200vh;
}

.timeline-figure figure {
  width: 500px;
  margin: 0 auto;
}

.timeline-figure figure img {
  box-shadow: 4px 4px 10px #c4c4c4;
}

.timeline-figure figure .chart-wrap {
  margin: 100px 0;
  width: 800px;
  margin-left: -150px;
}

.timeline-figure figure .chart-wrap .title {
  font-family: "GTEesti";
  font-weight: 100;
  font-size: var(--font-small);
}

.timeline-figure figure.static {
  width: 510px;
}

.timeline-figure .figure-wide {
  width: 800px;
}

.timeline-figure .caption {
  color: var(--clr-black);
  font-size: var(--font-small);
  margin: 0;
}
