/** TIMELINE STUFF **/

.timeline {
  height: 100vh;
  position: relative;
  /*background: var(--clr-off-white);*/
  background: linear-gradient(330deg, var(--clr-9), var(--clr-off-white));
}

.timeline-frame {
  border-radius: 4px;
  overflow: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 0px;
}

.timeline-step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  margin-bottom: 170px;
  transform: translate3d(0, 0, 0);
}

.step-title {
  position: sticky;
  top: 40px;
  width: 100%;
  height: 170px;
  max-width: 640px;
  margin: 0 auto;
  z-index: 2;
}

.step-title h2 {
  color: var(--clr-black);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-family: "EB Garamond", serif;
}

.step-title h3.year-label {
  width: 100%;
  margin: 0px 0 5px;
  padding-left: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: "EB Garamond";
  font-weight: 300;
  font-size: var(--font-copy-timeline);
  color: var(--clr-black);
}

.step-content {
  position: relative;
  overflow: auto;
  padding: 0px 20px 20px;
  max-width: 620px;
  opacity: 0;

  -webkit-animation: fadeindown 2s linear 1.2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeindown 2s linear 1.2s forwards; /* Firefox < 16 */
  -ms-animation: fadeindown 2s linear 1.2s forwards; /* Internet Explorer */
  -o-animation: fadeindown 2s linear 1.2s forwards; /* Opera < 12.1 */
  animation: fadeindown 2s linear 1.2s forwards;
}

.step-content-figure {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
  scrollbar-width: 5px;
  scrollbar-color: var(--clr-primary) var(--clr-black);

  -webkit-animation: fadeindown 2s linear 0.6s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeindown 2s linear 0.6s forwards; /* Firefox < 16 */
  -ms-animation: fadeindown 2s linear 0.6s forwards; /* Internet Explorer */
  -o-animation: fadeindown 2s linear 0.6s forwards; /* Opera < 12.1 */
  animation: fadeindown 2s linear 0.6s forwards;
}

.step-content-figure .child {
  height: 100%;
}

/**
!!!! TODO !!!!
Use a scrollbar library, this is not standardized
**/
.step-content::-webkit-scrollbar {
  width: 5px;
}
.step-content::-webkit-scrollbar-track {
  background: none;
}
.step-content::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 6px;
  border: none;
}
/**
!!!! TODO !!!!
Use a scrollbar library, this is not standardized
**/

.step-content .step-columns {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 20px;
  justify-self: flex-start;
}

.step-content .step-columns:not(:first-child) {
  padding-top: 20px;
}

/**
TIMELINE TEXT STUFF
**/

.timeline-copy {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-top: 0;

  text-align: left;
  color: black;
  transition: color 0.4s;
  font-weight: 300;
}

.step-content .paragraph-wrap {
  display: block;
  margin: 0 auto;
}

.step-content .paragraph {
  display: inline;
  padding: 0;
  margin: 0 auto;

  font-family: "GTPressura";
  font-size: var(--font-copy-timeline);
  line-height: var(--copy-line-height);
  font-weight: 300;

  color: var(--clr-black);
}

.timeline-figure + .timeline-copy {
  padding-left: 0%;
}

.timeline .footnote-trigger-wrap {
  display: inline-block;
  height: 20px;
}

.timeline .footnote-trigger {
  display: inline-block;
}

/** FOOTER TRIGGERS **/

.timeline .link-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px;
  color: var(--clr-black);
}

.timeline .hover-link {
  font-family: "GTPressura";
  font-size: var(--font-copy-timeline);
  line-height: var(--copy-line-height);
  font-weight: 300;

  transition: all 0.2s ease-in-out;
  position: relative;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  cursor: pointer;
}

.timeline .hover-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 3px;
  margin: 2px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-primary);
}

.timeline .footnote-trigger:hover .hover-link {
  color: var(--clr-primary);
}

.timeline .footnote-trigger:hover .hover-link:after {
  width: 100%;
  opacity: 1;
}

.timeline .hover-link:after {
  right: 0%;
}
/** END OF FOOTER TRIGGERS **/

/** CARET SCROLL **/

.timeline .scroll {
  width: 100%;
  height: 60px;
  color: var(--clr-dark-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timeline .scroll .caret {
  width: 100%;
  text-align: center;
}

@media (max-width: 1824px) {
  .step-content .paragraph {
    font-size: var(--font-copy);
    line-height: calc(1.5 * var(--font-copy));
  }

  .timeline .hover-link {
    font-size: var(--font-copy);
    line-height: calc(1.5 * var(--font-copy));
  }
}

@media (max-width: 767px) {
  .timeline-frame {
    border-radius: 4px;
    top: 60px;
    left: 10px;
    right: 10px;
    bottom: 0px;
  }

  .timeline-step {
    position: relative;
    height: 100%;
    padding: 0 10px;
  }

  .step-content {
    padding: 0;
    left: 0;
    right: 0;
  }

  .step-content {
    width: 100%;
    height: calc(100vh - 20px);
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(var(--clr-off-white-rgb), 0);
  }

  .step-content.open {
    background-color: rgba(var(--clr-off-white-rgb), 0.8);
    transition: height 0.4s, background-color 0.4s;
  }

  .step-content:not(.open) .step-copy h2 {
    background-color: rgba(var(--clr-off-white-rgb), 1);
  }

  .step-content .step-copy {
    height: auto;
    transition: height 0.4s, background-color 0.4s;
  }

  .step-content .paragraph {
    font-size: calc(var(--font-copy) * 1.2);
    line-height: calc(var(--font-copy) * 1.5);
  }

  .step-content .paragraph li {
    word-break: break-all;
  }

  .timeline .hover-link {
    font-size: calc(var(--font-copy) * 1.2);
    line-height: calc(var(--font-copy) * 1.5);
  }

  .step-content-figure .timeline-figure {
    padding-left: 60px;
  }

  .step-columns {
    width: 100%;
    height: auto;
    overflow: auto;
  }

  .timeline .hover-link:after {
    bottom: -3px;
    height: 3px;
  }
}
