.video-wrap {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background: var(--clr-dark-bg);
}

.video {
  width: 100%;
  height: calc(100% - 160px);
  position: absolute;
  left: 0;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.video-info-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.4s, background-color 0.4s;
}

.video-info {
  position: fixed;
  right: 40px;
  bottom: 40px;
  text-align: right;
}

.video-info img {
  border: 4px solid white;
  border-radius: 3px;
  transform: rotate(-3deg);
  transform-origin: center;
}

.video-info .upper-label {
  font-family: "GTEesti";
  font-size: var(--font-small);
  margin: 10px 0 0 0;
  padding: 0;
}

.video-info .actual-label {
  font-family: "GTPressura";
  font-size: var(--font-subtitle);
  margin: 0 0 0 10px;
  line-height: 1em;
}
