.visting-room-banner {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 20px;
  transition: align-items 1.2s, width 1.2s, height 1.2s;
}

.visting-room-banner.in-grid {
  height: 120px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  justify-content: start;
}

.who-header p {
  font-family: "GTSpectra";
  transition: font-size 1.2s;
  font-size: 36px;
  text-align: center;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.in-grid .who-header {
  font-weight: 300;
  font-size: 20px;
  min-width: 300px;
}

.in-grid .who-header p {
  text-align: left;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}

.header-options {
  flex-direction: row;
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #444444;
}

.header-options .header-option {
  margin-left: 40px;
}

.header-options .header-option.search {
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.in-grid .header-content,
.in-grid .header-content .header-options {
  width: 100%;
  flex-direction: row;
}

.in-grid .header-options {
  justify-content: flex-end;
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: none;
}

.in-grid .header-options .header-option {
  text-align: left;
}

.in-grid .header-options .search {
  margin: 20px 0;
  flex-direction: row;
}

.in-grid .header-options .search-input {
  font-family: "GTSpectra-italic";
  color: var(--clr-mid-grey);
  margin-left: 10px;
  width: 200px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--clr-primary);
}

.header-options .everyone {
  flex-direction: column;
}

.in-grid .header-options .everyone {
  margin: 20px 0;
  flex-direction: row;
  align-items: center;
}

.header-option {
  font-family: "GTEesti";
  font-size: var(--font-small);
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-grid .header-options .header-option {
  align-items: start;
}

/**

CARET ANIMATIONS

**/

@keyframes bouncingLoader {
  from {
    transform: translate3d(0);
  }
  to {
    transform: translate3d(0, -0.5rem, 0);
  }
}

.animate {
  animation: bouncingLoader 0.8s infinite alternate;
}
