.visting-room-banner {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 20px;
  transition: align-items 1.2s, width 1.2s, height 1.2s;
}

.visting-room-banner.in-grid {
  height: auto;
  padding: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  justify-content: start;
}

.who-header p {
  font-family: "EB Garamond", serif;
  transition: font-size 1.2s;
  font-size: var(--font-copy-timeline);
  text-align: center;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .who-header {
    margin: 0 40px;
  }
}
