.timeline-step-0 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrap {
  width: 640px;
}

.title-wrap:after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 0px;
  height: 3px;
  margin: 2px 0 0;
  transition-duration: 2.6s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  opacity: 1;

  -webkit-animation: rotatingBackgroundColor 12s linear -3s infinite;
  -moz-animation: rotatingBackgroundColor 12s linear -3s infinite;
  -ms-animation: rotatingBackgroundColor 12s linear -3s infinite;
  -o-animation: rotatingBackgroundColor 12s linear -3s infinite;
  animation: rotatingBackgroundColor 12s linear -3s infinite;
}

.title-wrap.in-view:after {
  width: 640px;
  margin: 0 auto;
  opacity: 1;

  transition-duration: 2.6s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.step-title h2:after {
  /* TODO REMOVE THIS IF YOU GO FOR OINE PAGER */
  opacity: 0 !important;
}

.step-content-figure .timeline-figure {
  opacity: 0;
}

.step-content-figure {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.step-content-figure .in-view {
  opacity: 0;
  -webkit-animation: fadeindown 1.2s linear 0s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeindown 1.2s linear 0s forwards; /* Firefox < 16 */
  -ms-animation: fadeindown 1.2s linear 0s forwards; /* Internet Explorer */
  -o-animation: fadeindown 1.2s linear 0s forwards; /* Opera < 12.1 */
  animation: fadeindown 1.2s linear 0s forwards;
}

.step-content-figure.left {
  margin-left: -100px;
}

.step-content-figure.right {
  margin-left: 100px;
}

.step-content-figure.wide {
  margin-left: -100px;
  margin-right: -100px;
  width: calc(100% + 200px);
}

@media (max-width: 767px) {
  .title-wrap {
    width: 100%;
  }

  .title-wrap.in-view:after {
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    opacity: 1;

    transition-duration: 2.6s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
  }

  .step-content-figure.left,
  .step-content-figure.right {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }

  .step-content-figure.left .caption,
  .step-content-figure.right .caption {
    padding: 0 20px;
  }

  .step-content-figure.wide {
    margin-left: 0;
    width: 100%;
  }
}
