/** TIMELINE STUFF **/

.timeline {
  height: 100vh;
  position: relative;
  opacity: 0;
  /*background: linear-gradient(
    180deg,
    var(--clr-0) 0%,
    var(--clr-0) 25%,
    var(--clr-8) 100%
  );*/
  background: var(--clr-off-white);

  -webkit-animation: fadein 2s linear 1.2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s linear 1.2s forwards; /* Firefox < 16 */
  -ms-animation: fadein 2s linear 1.2s forwards; /* Internet Explorer */
  -o-animation: fadein 2s linear 1.2s forwards; /* Opera < 12.1 */
  animation: fadein 2s linear 1.2s forwards;
}

.timeline.fadeout {
  -webkit-animation: fadeout 2s linear 1.2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s linear 1.2s forwards; /* Firefox < 16 */
  -ms-animation: fadeout 2s linear 1.2s forwards; /* Internet Explorer */
  -o-animation: fadeout 2s linear 1.2s forwards; /* Opera < 12.1 */
  animation: fadeout 2s linear 1.2s forwards;
}

.timeline-frame {
  border-radius: 4px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 0px;
}

.timeline-step {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
  /* margin-bottom: 170px; */
  transform: translate3d(0, 0, 0);
}

.step-title {
  position: sticky;
  top: 0;
  padding-top: 40px;
  width: 100%;
  min-height: 130px;
  max-width: 640px;
  margin: 0 auto;
  z-index: 2;
  background-color: none;
}

.step-title h2 {
  color: var(--clr-black);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-family: "EB Garamond", serif;
}

.step-title h3.year-label {
  width: 100%;
  margin: 0px 0 5px;
  padding-left: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: "EB Garamond";
  font-weight: 300;
  font-size: var(--font-copy-timeline);
  color: var(--clr-black);
}

.step-title h2:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-white);
}

.step-title h2:after {
  width: 100%;
  opacity: 1;
  height: 4px;
  /*background-color: var(--clr-primary);*/
  -webkit-animation: rotatingBackgroundColor 20s ease infinite;
  -moz-animation: rotatingBackgroundColor 20s ease infinite;
  -ms-animation: rotatingBackgroundColor 20s ease infinite;
  -o-animation: rotatingBackgroundColor 20s ease infinite;
  animation: rotatingBackgroundColor 20s ease infinite;
}

.hover-link:after {
  right: 0%;
}

.step-content {
  position: relative;
  overflow: auto;
  padding: 0px 20px 20px;
  width: 640px;
  opacity: 0;
  overflow: visible;

  -webkit-animation: fadeindown 2s linear 1.2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeindown 2s linear 1.2s forwards; /* Firefox < 16 */
  -ms-animation: fadeindown 2s linear 1.2s forwards; /* Internet Explorer */
  -o-animation: fadeindown 2s linear 1.2s forwards; /* Opera < 12.1 */
  animation: fadeindown 2s linear 1.2s forwards;
}

.step-content-figure {
  position: relative;
  width: 200%;
  max-width: 1024px;
  margin-left: -50%;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
  scrollbar-width: 5px;
  scrollbar-color: var(--clr-primary) var(--clr-black);

  -webkit-animation: fadeindown 2s linear 0.6s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeindown 2s linear 0.6s forwards; /* Firefox < 16 */
  -ms-animation: fadeindown 2s linear 0.6s forwards; /* Internet Explorer */
  -o-animation: fadeindown 2s linear 0.6s forwards; /* Opera < 12.1 */
  animation: fadeindown 2s linear 0.6s forwards;
}

.step-content-figure .child {
  height: 100%;
}

/**
!!!! TODO !!!!
Use a scrollbar library, this is not standardized
**/
.step-content::-webkit-scrollbar {
  width: 5px;
}
.step-content::-webkit-scrollbar-track {
  background: none;
}
.step-content::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 6px;
  border: none;
}
/**
!!!! TODO !!!!
Use a scrollbar library, this is not standardized
**/

.step-content .step-columns {
  box-sizing: border-box;
  padding: 0 10px;
  padding-bottom: 20px;
  justify-self: flex-start;
}

.step-content .step-columns:not(:first-child) {
  padding-top: 20px;
}

/**
TIMELINE TEXT STUFF
**/

.timeline-copy {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-top: 0;

  text-align: left;
  color: black;
  transition: color 0.4s;
  font-weight: 300;
}

.step-content .paragraph-wrap {
  display: block;
  margin: 0 auto;
}

.timeline-figure + .timeline-copy {
  padding-left: 0%;
}

.timeline .footnote-trigger-wrap {
  display: inline-block;
  height: 20px;
}

.timeline .footnote-trigger {
  display: inline-block;
}

/** FOOTER TRIGGERS **/

.timeline .link-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px;
  color: var(--clr-black);
}

.timeline .hover-link {
  font-family: Muli, Helvetica Neue, Arial, sans-serif;
  font-size: var(--font-copy-timeline);
  font-weight: 300;
  line-height: var(--copy-line-height);

  transition: all 0.2s ease-in-out;
  position: relative;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  cursor: pointer;
}

.timeline .hover-link:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 3px;
  margin: 2px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 1;
  background-color: var(--clr-primary);
}

.timeline .footnote-trigger:hover .hover-link {
  color: var(--clr-primary);
}

.timeline .footnote-trigger:hover .hover-link:after {
  width: 100%;
  opacity: 1;
}

.timeline .hover-link:after {
  right: 0%;
}
/** END OF FOOTER TRIGGERS **/

/** CARET SCROLL **/

.timeline .scroll {
  width: 100%;
  height: 60px;
  color: var(--clr-dark-bg);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timeline .scroll .caret {
  width: 100%;
  text-align: center;
}

@media (max-width: 1824px) {
  .timeline .hover-link {
    font-size: var(--font-copy-timeline);
    line-height: calc(1.5 * var(--font-copy));
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .timeline-frame {
    border-radius: 4px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .timeline .hover-link {
    font-family: Muli, Helvetica Neue, Arial, sans-serif;
  }

  .step-title {
    padding: 0 25px;
    box-sizing: border-box;
  }

  .step-content {
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: auto;
    background-color: rgba(var(--clr-off-white-rgb), 0);
  }

  .step-content.open {
    background-color: rgba(var(--clr-off-white-rgb), 0.8);
    transition: height 0.4s, background-color 0.4s;
  }

  .step-content:not(.open) .step-copy h2 {
    background-color: rgba(var(--clr-off-white-rgb), 1);
  }

  .step-content .step-content .step-copy {
    height: auto;
    transition: height 0.4s, background-color 0.4s;
  }

  .timeline .hover-link {
    font-size: calc(var(--font-copy) * 1.2);
    line-height: calc(var(--font-copy) * 1.5);
  }

  .step-content-figure {
    width: 100%;
    margin-left: 0%;
  }

  .step-content-figure .timeline-figure {
    padding-left: 60px;
  }

  .step-columns {
    width: 100%;
    height: auto;
    overflow: auto;
  }

  .timeline .hover-link:after {
    bottom: -3px;
    height: 3px;
  }
}

/**

FULLPAGE

**/

.fp-controlArrow.fp-prev {
  visibility: hidden;
  left: 15px !important;
  width: 0 !important;
  border-width: 18.5px 16px 18.5px 0 !important;
  border-color: transparent #fff transparent transparent !important;
}

.fp-controlArrow.fp-next {
  visibility: hidden;
  right: 15px !important;
  width: 0 !important;
  border-width: 18.5px 0 18.5px 16px !important;
  border-color: transparent transparent transparent #fff !important;
}

#fp-nav.fp-left {
  left: 0 !important;
}

#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  height: 8px !important;
  width: 8px !important;
  margin: -4px 0 0 -4px !important;
  border-radius: 100% !important;
}
