.modal {
  width: 600px;
  height: auto;
  padding: 20px 0 0 0;
  border-bottom: 4px solid var(--clr-primary);
  color: var(--clr-black);

  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-size: var(--font-normal);
}

@media (max-width: 867px) {
  .modal {
    width: 80%;
  }
}
