.video-wrap .video {
  margin-left: 0px;
  width: 100%;
  position: relative;
}

.video-wrap .video .loading-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-wrap .video .control-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-wrap .video .control-layer .video-title {
  position: absolute;
  width: 100%;
  top: 20px;
  text-align: center;
}

.video-wrap .controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1.2s, right 0.4s;
}

.video-wrap.transcript .controls {
  right: 400px;
  transition: right 0.4s;
}

.video-wrap .controls.hidden {
  opacity: 0;
  transition: opacity 1.2s;
}

.video-wrap .controls .progress-bar {
  position: absolute;
  padding: 10px 20px;
  margin-left: 80px;
  width: calc(100% - 220px);
  cursor: pointer;
}

.progress-bar-bg {
  position: absolute;
  width: calc(100% - 40px);
  height: 6px;
  top: 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
}

.progress-bar-played {
  position: absolute;
  height: 6px;
  top: 0;
  box-sizing: border-box;
  /*background: var(--clr-primary);*/
  transition: width 1s linear;
}

.progress-bar-label {
  background: rgba(var(--clr-white-rgb), 0.5);
  height: 20px;
  padding: 2px 5px;
  box-sizing: border-box;
  position: absolute;
  top: -22px;
  color: var(--clr-white);
  font-family: Archive, Helvetica Neue, Arial, sans-serif;
  text-align: center;
  font-size: var(--font-small);
  opacity: 0;
  transition: opacity 0.4s, left 0.4s;
}

.video-wrap .controls .progress-bar:hover .progress-bar-label {
  opacity: 1;
  transition: opacity 0.4s, left 0.4s;
}

.video-wrap .controls .actions {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.progress-seconds {
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-family: Archive, Helvetica Neue, Arial, sans-serif;
  text-align: left;
  font-size: var(--font-small);
}

.progress-seconds span {
  font-family: Archive, Helvetica Neue, Arial, sans-serif;
  font-size: var(--font-small);
}

.video-wrap .controls .actions .play-pause-stop {
  position: absolute;
  bottom: 15px;
  left: 30px;
  cursor: pointer;
}

.pause {
  width: 12px;
  height: 12px;
  bottom: -8px;
  left: 30px;
  display: flex;
}

.pause-tick {
  width: 4px;
  height: 12px;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.7);
}

.action-wrap {
  margin-bottom: 3px;
  margin-left: -10px;
  height: 24px;
}

.video .controls .play-pause-stop:hover .pause-tick {
  background: var(--clr-white);
}

/*
WRAP
*/
.video .fullscreen {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100vh;
}

/*
CONTROLS
*/

.fullscreen-action {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 12px;
  left: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .video-wrap .video .control-layer .video-title {
    position: absolute;
    width: 100%;
    top: 10px;
    text-align: center;
  }
}
