.video-next {
  width: 240px;
  height: 80px;
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 10px;
  border: 1px solid var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}
