.final-card {
  opacity: 0;

  -webkit-animation: fadein 4s linear 1.2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s linear 1.2s forwards; /* Firefox < 16 */
  -ms-animation: fadein 4s linear 1.2s forwards; /* Internet Explorer */
  -o-animation: fadein 4s linear 1.2s forwards; /* Opera < 12.1 */
  animation: fadein 4s linear 1.2s forwards;
}
