.final-card {
  opacity: 0;

  -webkit-animation: fadein 4s linear 1.2s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s linear 1.2s forwards; /* Firefox < 16 */
  -ms-animation: fadein 4s linear 1.2s forwards; /* Internet Explorer */
  -o-animation: fadein 4s linear 1.2s forwards; /* Opera < 12.1 */
  animation: fadein 4s linear 1.2s forwards;
}

.final-card.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "EB Garamond";
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
}
