.video-wrap .video {
  margin-left: 0px;
  width: 100%;
  position: relative;
}

.video-wrap .controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.video-wrap .controls .progress-bar {
  position: relative;
  padding: 10px 20px;
  margin: 0;
  width: calc(100% - 40px);
  cursor: pointer;
}

.progress-bar-bg {
  position: absolute;
  width: calc(100% - 40px);
  height: 6px;
  top: 0;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
}

.progress-bar-played {
  position: absolute;
  height: 6px;
  top: 0;
  box-sizing: border-box;
  background: var(--clr-primary);
  transition: width 1s linear;
}

.video-wrap .controls .actions {
  position: relative;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.progress-seconds {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: GTEesti;
  text-align: left;
  font-size: var(--font-small);
}

.video-wrap .controls .actions .play-pause-stop {
  position: absolute;
  bottom: 20px;
  left: 30px;
  cursor: pointer;
}

.pause {
  width: 12px;
  height: 12px;
  bottom: -8px;
  left: 30px;
  display: flex;
}

.pause-tick {
  width: 4px;
  height: 12px;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.7);
}

.play-wrap {
  margin-bottom: 3px;
  margin-left: -10px;
  height: 12px;
}

.video .controls .play-pause-stop:hover .pause-tick {
  background: var(--clr-white);
}
