.archive-banner {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 50px 20px;
  transition: align-items 1.2s, width 1.2s, height 1.2s;
  background: var(--background-gradient);
}

.archive-entry-text {
  max-width: 640px;
}

.archive-entry-text h2 {
  text-align: center;
  color: var(--clr-off-white);
}

.archive-entry-text p {
  font-family: "EB Garamond", serif;
  transition: font-size 1.2s;
  font-size: var(--font-copy-timeline);
  text-align: center;
  color: var(--clr-off-white);
}

@media (max-width: 767px) {
  .archive-entry-text {
    margin: 0 0px;
  }
}
