.archive table.search-results th {
  flex: none;
  width: 120px;
}

.archive table:not(.isCompact).search-results th:nth-child(1),
.archive table:not(.isCompact).search-results td:nth-child(1) {
  flex: 0 0 120px;
}
.archive table:not(.isCompact).search-results th:nth-child(2),
.archive table:not(.isCompact).search-results td:nth-child(2) {
  flex: 0 0 120px;
}
.archive table:not(.isCompact).search-results th:last-child,
.archive table:not(.isCompact).search-results td:last-child {
  flex: 1;
  padding: 10px;
}

.archive table.search-results tbody tr {
  height: auto;
  background-color: rgba(var(--clr-off-white-rgb), 1);
  transition: background-color 0.4s, max-height 0.4s;
}

.archive table.search-results tbody tr.open {
  height: auto;
  max-height: 4000px;
  background-color: rgba(var(--clr-off-white-rgb), 1);
  transition: background-color 0.4s, max-height 0.4s;
}

.archive table.search-results td {
  flex: none;
  width: 120px;

  position: relative;
  padding: 0;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-column-gap: 10px;
  grid-template-rows: 60px 1fr;
}

.archive table.search-results td p.profile-header {
  display: flex;
  align-items: center;
  font-family: "EB Garamond";
  font-size: var(--font-copy);
  padding-left: 10px;
}
.archive table.search-results td p.count {
  display: flex;
  align-items: center;
}
.archive table.search-results td .profile-image-wrap {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 10px;
  align-self: flex-start;
}
.archive table.search-results td .profile-image-wrap .profile-image {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.archive table.search-results td p.quote {
  margin: 0;
  cursor: pointer;
  max-width: 800px;
  white-space: normal;
  line-height: var(--font-copy-label);
  overflow: hidden;
  margin-bottom: 10px;
  transition: color 0.4s;
}

.archive table.search-results tbody tr .result-quotes {
  height: 100%;
  padding: 0 10px 10px 0;
  box-sizing: border-box;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.archive table.search-results td p.see-more {
  align-self: center;
}

.archive table.search-results td p.quote:hover,
.archive table.search-results td p.see-more:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}
