.archive table {
  width: calc(100% - 40px);
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  border-left: 1px solid var(--clr-light-grey);
  border-right: 1px solid var(--clr-light-grey);
}

.archive table.isCompact {
  margin: 0 auto;
  width: calc(100% - 20px);
}

.archive table tr {
  height: 40px;
  line-height: 40px;
  background-color: rgba(var(--clr-black-rgb), 0);
  transition: background-color 0.4s, height 1s;
  cursor: pointer;
}

.archive table tr:hover {
  background-color: rgba(var(--clr-white-rgb), 0.1);
  transition: background-color 0.4s;
}

.archive table tbody {
  flex: 1;
  scrollbar-width: 5px;
  scrollbar-color: var(--clr-primary) none;
}

/**
!!!!!! TODO !!!!!
THIS IS NOT STANDARD
REPLACE WITH A SCROLLBAR STYLING LIBRARY
**/
.archive table tbody::-webkit-scrollbar {
  width: 5px;
}
.archive table tbody::-webkit-scrollbar-track {
  background: var(--clr-black);
}
.archive table tbody::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 6px;
  border: 0px solid var(--clr-white);
}
/**
^^^^^
!!!!!! TODO !!!!!
THIS IS NOT STANDARD
REPLACE WITH A SCROLLBAR STYLING LIBRARY
**/

.archive table thead tr {
  display: flex;
  flex-direction: row;
  border-top: 1px solid var(--clr-light-grey);
  border-bottom: 1px solid var(--clr-light-grey);
  height: 60px;
}

.archive table thead tr th {
  display: flex;
  flex-direction: row;
  flex: 1;
  line-height: 20px;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 10px 10px 10px;
  text-align: right;
  background-color: rgba(var(--clr-black-rgb, 1));
  color: var(--clr-white);
}

.archive table thead tr th:nth-child(1) {
  text-align: left;
  justify-content: flex-start;
}

.archive table.search-results th {
  flex: none;
  width: 120px;
}

.archive table thead th.play {
  flex: none;
  width: 50px;
  padding: 0 30px 0 20px;
}

.archive table thead tr th span {
  height: 12px;
  line-height: 12px;
  text-transform: none;
  font-weight: normal;
  font-size: var(--font-xsmall);
}

.archive table.isCompact thead tr {
  height: 4px;
  background: var(--clr-light-grey);
}
.archive table.isCompact thead tr th {
  background: var(--clr-light-grey);
}
.archive table.isCompact thead th.play {
  padding: 0 10px 10px 10px;
}

.archive table:not(.isCompact) thead tr th:nth-child(1),
.archive table:not(.isCompact) tbody tr td:nth-child(1) {
  flex: 1;
}

.archive table:not(.isCompact) thead tr th:nth-child(2),
.archive table:not(.isCompact) tbody tr td:nth-child(2),
.archive table:not(.isCompact) thead tr th:nth-child(3),
.archive table:not(.isCompact) tbody tr td:nth-child(3),
.archive table:not(.isCompact) thead tr th:nth-child(4),
.archive table:not(.isCompact) tbody tr td:nth-child(4) {
  flex: 0 0 90px;
}

.archive table:not(.isCompact) thead tr th:nth-child(5),
.archive table:not(.isCompact) tbody tr td:nth-child(5) {
  flex: 0 0 120px;
}

.archive table:not(.isCompact) thead tr th:nth-child(6),
.archive table:not(.isCompact) tbody tr td:nth-child(6) {
  flex: 0 0 45px;
}

.archive table:not(.isCompact) th:last-child,
.archive table:not(.isCompact) td:last-child {
  flex: 0 0 40px;
  padding: 0;
}

.archive table:not(.isCompact) th:last-child {
  padding-right: 10px;
}

.archive table.isCompact tbody tr {
  height: 170px;
}

.archive table.isCompact thead tr th:nth-child(1),
.archive table.isCompact tbody tr td:nth-child(1) {
  flex: 0 0 120px;
}

.archive table:not(.isCompact).search-results th:nth-child(1),
.archive table:not(.isCompact).search-results td:nth-child(1) {
  flex: 0 0 120px;
}
.archive table:not(.isCompact).search-results th:nth-child(2),
.archive table:not(.isCompact).search-results td:nth-child(2) {
  flex: 0 0 120px;
}
.archive table:not(.isCompact).search-results th:last-child,
.archive table:not(.isCompact).search-results td:last-child {
  flex: 1;
  padding: 10px;
}

.archive table tbody td .full-name {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.archive table.isCompact tbody td .full-name {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.archive table.isCompact tbody td .fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.archive table.isCompact tbody td .fields svg {
  align-self: flex-start;
  justify-content: flex-end;
}

.archive table tbody {
  overflow: auto;
  height: 100%;
}

.archive table tbody tr {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--clr-light-grey);
}

.archive table tbody tr {
  height: 120px;
  background-color: rgba(var(--clr-black-rgb), 1);
  transition: background-color 1s, height 1s;
}

.archive table tbody tr.hovered {
  background-color: rgba(var(--clr-white-rgb), 0.01);
  transition: background-color 1s;
}

.archive table tbody tr td {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid var(--clr-light-grey);
  text-overflow: ellipsis;
  color: var(--clr-white);
  overflow: hidden;
  white-space: nowrap;
}
.archive table tbody tr td:first-child {
  align-items: flex-start;
}

.archive table tbody tr td:last-child {
  align-items: center;
}
.archive table tbody tr td.result-quotes {
  justify-content: flex-start;
  align-items: flex-start;
}

.archive table tbody tr.isCompact td p {
  margin: 0;
  line-height: 1em;
}

.archive table tbody tr.isCompact td p {
  margin-top: 0;
}

.archive table.search-results tbody tr {
  height: 200px;
  background-color: rgba(var(--clr-black-rgb), 1);
  transition: background-color 0.4s, height 0.4s;
}

.archive table.search-results tbody tr.open {
  height: 300px;
  background-color: rgba(var(--clr-black-rgb), 1);
  transition: background-color 0.4s, height 0.4s;
}

.archive table.search-results td {
  flex: none;
  width: 120px;
}

.archive table.search-results td p {
  margin: 0;
  cursor: pointer;
  max-width: 800px;
  white-space: normal;
  line-height: var(--font-copy-label);
  overflow: hidden;
  margin-bottom: 10px;
  transition: color 0.4s;
}

.archive table.search-results td p:hover,
.archive table.search-results td h6.see-more:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.archive table tbody tr td.play {
  flex: none;
  width: 60px;
}

.archive table tbody tr.isCompact td.play {
  flex: none;
  width: 30px;
}

.archive table tbody tr td.play p {
  white-space: normal;
  margin: 0;
  line-height: 1rem;
}

.archive table tbody tr td .gatsby-image-wrapper {
  position: absolute !important;
  top: 0px !important;
  bottom: 10px !important;
  left: 0 !important;
  right: 0 !important;
  height: 100%;
}

.archive table tbody tr.isCompact td .gatsby-image-wrapper {
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0 !important;
  right: 0 !important;
  height: 100%;
}

.archive table tbody tr td .gatsby-image-wrapper img {
  filter: brightness(0.9) contrast(120%) saturate(100%);
}

.archive table tbody tr td .gatsby-image-wrapper {
  opacity: 0;
  transition: opacity 2s;
}

.archive table tbody tr td .gatsby-image-wrapper:first-child {
  opacity: 1;
}

.archive table tbody tr.hovered .gatsby-image-wrapper:last-child {
  -webkit-animation: fadein 2s alternate infinite ease-in-out;
  -moz-animation: fadein 2s alternate infinite ease-in-out;
  -ms-animation: fadein 2s alternate infinite ease-in-out;
  -o-animation: fadein 2s alternate infinite ease-in-out;
  animation: fadein 2s alternate infinite ease-in-out;
}
