.menu__surface {
  cursor: pointer;
  font-family: Archivo, Helvetica Neue, Arial, sans-serif;
  transition: color 0.4s;
}

.menu__surface:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.menu__content {
  position: absolute;
  height: 0;
  overflow: hidden;
  background: var(--clr-black);
  right: 0;
}

.open.menu__content {
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: visible;
}

.open.menu__content .view-options,
.open.menu__content .sorting-options,
.open.menu__content .search-trigger {
  width: 100%;
  height: 30px;
  padding: 4px 6px;
  box-sizing: border-box;
  text-align: right;
}

.actions .view-options p,
.actions .sorting-options p {
  margin: 0;
  cursor: pointer;
  padding-bottom: 4px;
  font-size: var(--font-small);
  transition: color 0.4s;
  text-align: right;
  border-bottom: 1px solid var(--clr-white);
}

.actions .view-options {
  width: 100%;
  height: 20px;
}

.actions .search-trigger {
  width: 30px;
}

.actions .view-options p:hover,
.actions .sorting-options p:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.actions .sorting-options {
  width: 50px;
}

.actions .sorting-options .surface {
  height: 20px;
  overflow: hidden;
}

.actions .sorting-options.open .surface {
  overflow: visible;
}

.actions .sorting-options .options-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  height: 0;
  left: -120px;
}

.actions .sorting-options .options-menu p {
  height: 24px;
  width: 120px;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid rgba(var(--clr-white-rgb), 0.2);
  text-align: left;
  background-color: var(--clr-black);
}

.actions .sorting-options.open .options-menu {
  visibility: visible;
  height: inherit;
}

.actions p.active {
  font-weight: 700;
}

.actions .search-trigger {
  width: 30px;
  text-align: right;
  cursor: pointer;
}

@media (max-width: 768px) {
  .archive.view-options {
    display: none;
  }
}

/** IN-HOUSE MENU **/
.menu__wrap {
  position: relative;
}

.menu__menu {
  display: flex;
  flex-direction: column;
  overflow: visible;
  background: var(--clr-dark-grey);
  top: 30px;
  right: 0px;
  width: 150px;
  position: absolute;
  box-shadow: -3px 3px var(--clr-mid-grey);
  border-radius: 3px;
  transform: scale(0.8);
  transform-origin: center center;
  pointer-events: none;
  opacity: 0;
}

.menu__menu.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s, opacity 0.2s;
}

.menu__menu .menu__item {
  padding: 0 5px;
  cursor: pointer;
  color: var(--clr-white);
}

.menu__menu .menu__item p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__menu .menu__item p svg {
  margin-right: 8px;
}

.menu__menu .menu__item:hover {
  background-color: rgba(var(--clr-off-white-rgb), 0.3) !important;
  transition: background-color 0.2s;
}

.menu__menu .submenu__surface {
  position: relative;
  overflow: visible;
}

.menu__menu .submenu__menu {
  position: absolute;
  left: -204px;
  top: 48px;
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  background: var(--clr-dark-grey);
  box-shadow: -3px 3px var(--clr-mid-grey);
  border-radius: 3px;
  transform: scale(0.8);
  transform-origin: center center;
  pointer-events: none;
  opacity: 0;
}

.menu__menu .submenu__menu.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s, opacity 0.2s;
}
