/**
SORTING MENU
**/

.menu__surface {
  cursor: pointer;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  transition: color 0.4s;
}

.menu__surface:hover {
  color: var(--clr-primary);
  transition: color 0.4s;
}

.menu__content {
  position: absolute;
  height: 0;
  overflow: hidden;
  background: var(--clr-black);
  right: 0;
}

.open.menu__content {
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow: visible;
}

.open.menu__content .search-trigger {
  width: 100%;
  height: 30px;
  padding: 4px 6px;
  box-sizing: border-box;
  text-align: right;
}

.actions .search-trigger {
  width: 30px;
}

.actions p.active {
  font-weight: 700;
}

.actions .search-trigger {
  width: 30px;
  text-align: right;
  cursor: pointer;
}

/** IN-HOUSE MENU **/
.menu__wrap {
  position: relative;
}

.menu__menu {
  display: flex;
  flex-direction: column;
  overflow: visible;
  background: var(--clr-black);
  top: 0px;
  right: 50px;
  width: 200px;
  position: absolute;
  box-shadow: var(--box-elevation-dark-hover);
  border-radius: 4px;
  transform: scale(0.8);
  transform-origin: center center;
  pointer-events: none;
  opacity: 0;
}

.menu__menu.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s, opacity 0.2s;
}

.menu__menu .menu__item {
  padding: 0 5px;
  cursor: pointer;
  color: var(--clr-white);
}

.menu__menu .menu__item p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__menu .menu__item p svg {
  margin-right: 8px;
}

.menu__menu .menu__item:hover {
  background-color: var(--clr-dark-grey) !important;
  transition: background-color 0.2s;
}

.menu__menu .submenu__surface {
  position: relative;
  overflow: visible;
}

.menu__menu .submenu__menu {
  position: absolute;
  left: -204px;
  top: 48px;
  width: 200px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  background: var(--clr-dark-grey);
  box-shadow: -3px 3px var(--clr-mid-grey);
  border-radius: 3px;
  transform: scale(0.8);
  transform-origin: center center;
  pointer-events: none;
  opacity: 0;
}

.menu__menu .submenu__menu.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s, opacity 0.2s;
}
