:root {
  --font-xxsmall: 0.6rem;
  --font-xsmall: 0.7rem;
  --font-small: 0.8rem;
  --font-normal: 1.1rem;
  --font-copy: 1.2rem;
  --font-copy-label: 1.35rem;
  --font-copy-banner: 1.5rem;
  --font-header-title: 1.35rem;
  --font-large: 2rem;
  --font-xlarge: 2.5rem;
  --font-xxlarge: 3.5rem;
  --font-subtitle: 4.5rem;
  --font-title: 6rem;

  --copy-line-height: 1.7em;

  /* Colors */
  /* --clr-primary: rgb(255, 87, 8); */
  --clr-primary: var(--clr-edae00);
  --clr-secondary: rgb(29, 11, 65);
  --clr-chart: var(--clr-primary);
  --clr-white: #ffffff;
  --clr-white-rgb: 255, 255, 255;
  --clr-off-white: #f7f5f0;
  --clr-off-white-rgb: 247, 245, 240;
  --clr-black: #110808;
  --clr-black-rgb: 0, 0, 5;
  --clr-dark-bg: #110808;
  --clr-dark-grey: #232323;
  --clr-mid-grey: #444444;
  --clr-light-grey: #a8a0a0;

  /* Spacing */
  --space-around-xsmall: 20px;
  --space-around-small: 30px;
  --space-around-med: 40px;
  --space-around-lg: 60px;
  --space-around-xl: 80px;

  /* PROFILE COLORS */
  --clr-0: rgb(188, 199, 192);
  --clr-1: rgb(234, 231, 150);
  --clr-2: rgb(182, 203, 175);
  --clr-3: rgb(210, 151, 134);
  --clr-4: rgb(240, 253, 0);
  --clr-5: rgb(221, 46, 29);
  --clr-6: rgb(56, 118, 141);
  --clr-7: rgb(62, 209, 221);
  --clr-8: rgb(210, 182, 205);
  --clr-9: rgb(166, 178, 177);

  --clr-e9e695: #e9e695;
  --clr-b5cbae: #b5cbae;
  --clr-d29786: #d29786;
  --clr-edae00: #edae00;
  --clr-38768d: #38768d;
  --clr-8b91cc: #8b91cc;
  --clr-d2b6cc: #d2b6cc;
  --clr-476d95: #476d95;
  --clr-e0bb40: #e0bb40;
  --clr-556437: #556437;
  --clr-f4ee7f: #f4ee7f;
  --clr-32546c: #32546c;
  --clr-7b8d59: #7b8d59;
  --clr-006080: #006080;
  --clr-775641: #775641;
  --clr-dd9161: #dd9161;
  --clr-a08783: #a08783;
  --clr-c8b278: #c8b278;
  --clr-9ea7c1: #9ea7c1;
  --clr-fca480: #fca480;
  --clr-cb9500: #cb9500;
  --clr-529a74: #529a74;
  --clr-66855c: #66855c;
  --clr-bcdbaf: #bcdbaf;
  --clr-8a665d: #8a665d;
  --clr-c07157: #c07157;
  --clr-f5bbb9: #f5bbb9;
  --clr-cbbf8f: #cbbf8f;
  --clr-54648c: #54648c;
  --clr-8d5764: #8d5764;
  --clr-ecb651: #ecb651;
  --clr-79965e: #79965e;
  --clr-add0d6: #add0d6;
  --clr-ad8d87: #ad8d87;
  --clr-ac4f30: #ac4f30;
  --clr-ecb372: #ecb372;
  --clr-dbcda0: #dbcda0;

  --background-gradient: linear-gradient(
    120deg,
    var(--clr-black),
    rgba(var(--clr-black-rgb), 0.9)
  );
}

/**
!!!! TODO !!!!
Use a scrollbar library, this is not standardized
**/
:root::-webkit-scrollbar {
  width: 11px;
}
:root::-webkit-scrollbar-track {
  background-color: var(--clr-black);
}
:root::-webkit-scrollbar-thumb {
  /*background-color: var(--clr-primary);*/
  border-radius: 6px;
  border: 3px solid var(--clr-black);
  -webkit-animation: rotatingBackgroundColor 20s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: rotatingBackgroundColor 20s; /* Firefox < 16 */
  -ms-animation: rotatingBackgroundColor 20s; /* Internet Explorer */
  -o-animation: rotatingBackgroundColor 20s; /* Opera < 12.1 */
  animation: rotatingBackgroundColor 20s;
}

@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

/* THIS ONE IS PRETTY GOOD */
/*@import url("https://fonts.googleapis.com/css?family=Archivo&display=swap");*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* TRY THIS ONE WHEN READY */

@font-face {
  font-family: "GTAmerica";
  src: url("../fonts/GT-America-Trial-Regular.otf") format("opentype");
}

/*
@font-face {
  font-family: "Louize";
  src: url("../fonts/LouizeTrial-Regular.otf") format("opentype");
}
*/

/*
@font-face {
  font-family: "GTEesti";
  src: url("../fonts/GT-Pressura-Pro-Mono-Trial-Light.otf") format("opentype");
}

@font-face {
  font-family: "GTEesti";
  src: url("../fonts/GT-Pressura-Pro-Mono-Trial-Regular.otf") format("opentype");
}
*/

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: var(--background-gradient);
  color: var(--clr-off-white);
}

html {
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

::selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}

#root {
  width: 100%;
  height: 100vh;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: "EB Garamond", serif;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-xlarge);
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: var(--font-large);
  text-transform: none;
  font-weight: normal;
}

h4 {
  font-size: var(--font-copy-label);
}

a {
  color: white;
  text-decoration: none;
}

p {
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
}

/**
COPY
**/

.wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.copy p {
  line-height: var(--copy-line-height);
}

/**
FADE IN ANIMATIONS

**/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate(0, -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate(0, -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate(0, -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Internet Explorer */
@-ms-keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate(0, -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeindown {
  from {
    opacity: 0;
    transform: translate(0, -60px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeoutup {
  to {
    opacity: 0;
    transform: translate(0, -60px);
  }
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeoutup {
  to {
    opacity: 0;
    transform: translate(0, -60px);
  }
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeoutup {
  to {
    opacity: 0;
    transform: translate(0, -60px);
  }
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Internet Explorer */
@-ms-keyframes fadeoutup {
  to {
    opacity: 0;
    transform: translate(0, -60px);
  }
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeoutup {
  to {
    opacity: 0;
    transform: translate(0, -60px);
  }
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* BOUNCING ANIMATION */
@keyframes bouncingLoader {
  from {
    transform: translate3d(0);
  }
  to {
    transform: translate3d(0, -0.5rem, 0);
  }
}

@keyframes rotatingBackgroundColor {
  0% {
    background-color: var(--clr-0);
  }
  10% {
    background-color: var(--clr-1);
  }
  20% {
    background-color: var(--clr-2);
  }
  30% {
    background-color: var(--clr-3);
  }
  40% {
    background-color: var(--clr-4);
  }
  50% {
    background-color: var(--clr-5);
  }
  60% {
    background-color: var(--clr-6);
  }
  70% {
    background-color: var(--clr-7);
  }
  80% {
    background-color: var(--clr-8);
  }
  90% {
    background-color: var(--clr-9);
  }
  100% {
    background-color: var(--clr-0);
  }
}

@keyframes rotatingColor {
  0% {
    color: var(--clr-0);
  }
  10% {
    color: var(--clr-1);
  }
  20% {
    color: var(--clr-2);
  }
  30% {
    color: var(--clr-3);
  }
  40% {
    color: var(--clr-4);
  }
  50% {
    color: var(--clr-5);
  }
  60% {
    color: var(--clr-6);
  }
  70% {
    color: var(--clr-7);
  }
  80% {
    color: var(--clr-8);
  }
  90% {
    color: var(--clr-9);
  }
  100% {
    color: var(--clr-0);
  }
}

.fadein {
  -webkit-animation: fadein 4s forwards;
  -moz-animation: fadein 4s forwards;
  -ms-animation: fadein 4s forwards;
  -o-animation: fadein 4s forwards;
  animation: fadein 4s forwards;
}

.fadeinfast {
  -webkit-animation: fadein 1.2s forwards;
  -moz-animation: fadein 1.2s forwards;
  -ms-animation: fadein 1.2s forwards;
  -o-animation: fadein 1.2s forwards;
  animation: fadein 1.2s forwards;
}

.fadeout {
  -webkit-animation: fadeout 1.2s forwards;
  -moz-animation: fadeout 1.2s forwards;
  -ms-animation: fadeout 1.2s forwards;
  -o-animation: fadeout 1.2s forwards;
  animation: fadeout 1.2s forwards;
}

.fadeoutslow {
  -webkit-animation: fadeout 4s forwards;
  -moz-animation: fadeout 4s forwards;
  -ms-animation: fadeout 4s forwards;
  -o-animation: fadeout 4s forwards;
  animation: fadeout 4s forwards;
}

.fadeinout {
  -webkit-animation: fadein 4s alternate;
  -moz-animation: fadein 4s alternate;
  -ms-animation: fadein 4s alternate;
  -o-animation: fadein 4s alternate;
  animation: fadein 4s alternate;
}
